@import './variables';

@mixin section4 {
    padding-top: 5vh;
    padding-bottom: 5vh;

    .works {
        width: 80%;
        margin: auto;

        // Responsive tablette 
        @media (max-width: 992px) {
            width: 90%;
        }

        h3 {
            color: $secondaryColor;
            padding-bottom: 3vh;
        }

        p {
            width: 50%;

            // Responsive tablette 
            @media (max-width: 992px) {
                width: 70%;
            }
        }
    }

    .pictures {
        width: 80%;
        margin: auto;
        display: flex;

        // Responsive tablette 
        @media (max-width: 992px) {
            width: 100%;
        }
    }
}