@import './variables';

@mixin section7 {
    background-color: $secondaryColor;

    .contactDetails {
        padding-top: 8vh;
        padding-bottom: 8vh;
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        img {
            width: 20%;
            height: 5vh;
        }

        #details {
            width: 20%;
            display: flex;

            // Responsive tablette 
            @media (max-width: 992px) {
                width: 30%;
            }

            p {
                padding-top: 1vh;
                width: 70%;
                text-align: center;
            }
        }
    }
}