@import './variables';

@mixin section7{
    background-color: $secondaryColor;

    .contactDetails{
        padding-top: 8vh;
        padding-bottom: 8vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        img{
            height: 5vh;
        }

        .whats{
            width: 25%;
            display: flex;
        }

        .mail{
            width: 25%;
            display: flex;
        }

        .globe{
            width: 25%;
            display: flex;

            p{
                width: 40%;
            }
        }
    }
}