@import './variables';

@mixin section3 {
    background-color: $primaryColor;
    color: $contentColor;

    #allSkills {
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        text-align: center;

        p{
            color: $secondaryColor;
        }

        h2{
            padding-top: 2vh;
        }
        #skill {
            width: 20%;

        }
    }
}