@import './variables';

@mixin section7{
    background-color: $secondaryColor;

    .contactDetails{
        padding-top: 8vh;
        padding-bottom: 8vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        img{
            width: 15%;
            height: 5vh;
        }

        #details{
            width: 25%;
            display: flex;
            p{
                padding-top: 1vh;
                width: 60%;
                text-align: center;
            }
        }
    }
}