@import './sass/variables';
@import './sass/header';
@import './sass/section1';
@import './sass/section2';
@import './sass/section4';
@import './sass/section5';
@import './sass/section6';
@import './sass/section7';
@import './sass/footer';


body{
    font-family: 'Abel', sans-serif;
    margin: 0%;
    top: 0%;
    header{
        @include header;
    }

    .section1{
        @include section1;
    }

    .section2{
        @include section2;
    }

    .section4{
        @include section4;
    }

    .section5{
        @include section5;
    }

    .section6{
        @include section6;
    }

    .section7{
        @include section7;
    }

    .footer{
        @include footer;
    }
}